@import "../base/variables";
//------------FOOTER------------//
footer {
	grid-area: footer;
	background-color: nth($colores, 8);
	padding: 70px 0;
}
.container {
	max-width: 1170px;
	margin: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
ul {
	list-style: none;
	padding-left: 0rem;
}
.footer-col {
	width: 25%;
	padding: 0 15px;
	h4 {
		font-size: 18px;
		color: nth($colores, 1);
		text-transform: capitalize;
		margin-bottom: 35px;
		font-weight: 500;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -10px;
			background-color: nth($colores, 19);
			@include whSize (50px, 2px);
			box-sizing: border-box;
		}
	}
	ul {
		li {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
			a {
				font-size: 16px;
				text-transform: capitalize;
				color: nth($colores, 1);
				text-decoration: none;
				font-weight: 300;
				color: nth($colores, 5);
				display: block;
				transition: all 0.3s ease;
				&:hover {
					color: nth($colores, 1);
					padding-left: 8px;
				}
			}
		}
	}
	.social-links {
		a {
			display: inline-block;
			@include whSize (40px, 40px);
			background-color: nth($colores, 10);
			margin: 0 10px 10px 0;
			text-align: center;
			line-height: 40px;
			border-radius: 50%;
			color: nth($colores, 1);
			transition: all 0.5s ease;
			&:hover {
				color: nth($colores, 12);
				background-color: nth($colores, 1);
			}
		}
	}
}
