@import "../base/variables";
/*!--------------HELP / SUPPORT------------ */
.supportCover {
	background-image: url(../img/coverSupport.jpg);
	@include whSize (100%, 50vh);
	@include background(cover, center, no-repeat, none);
	@include flex (flex, center, center);
	div {
		text-align: left;
		margin-right: 500px;
		h1 {
			color: nth($colores, 1);
			font-size: 50px;
			margin-bottom: 20px;
		}
		p {
			color: nth($colores, 1);
			font-size: 20px;
			margin-bottom: 20px;
		}
	}
}
.supportIcons {
	@include flex (flex, center, center);
	flex-wrap: wrap;
	flex-direction: row;
	background-color: nth($colores, 6);
	.zoom {
		background-color: nth($colores, 1);
		border-radius: 25px;
		box-shadow: 5px 5px 10px #a3abe444;
		transition: transform .75s;
		&:hover{
			transform: scale(1.1);
		}
		img {
			@include whSize (75px, 75px);
			margin-bottom: 20px;
			margin-top: 10px;
		}
		text-align: center;
		@include whSize (250px, 150px);
		margin-top: 50px;
		margin-bottom: 50px;
		margin-right: 20px;
		margin-left: 20px;
		a {
			text-decoration: none;
			color: nth($colores, 2);
		}
	}
}
.supportData {
	@include flex (flex, center, center);
	flex-wrap: wrap;
	flex-direction: row-reverse;
	background-color: nth($colores, 6);
	div {
		img {
			@include whSize (450px, 250px);
			// margin-top: 50px;
			box-shadow: 10px #a3abe444;
			transition: transform .75s;
			&:hover{
				transform: scale(1.1);
			}
		}
		@include text (0px, left, 50px, 80px, none);
		@include whSize (500px, auto);
		h2 {
			@include text (45px, left, 30px, 20px, none);
			color: nth($colores, 2);
		}
		a {
			color: nth($colores, 2);
			@extend %link;
			&:after {
				background-color: nth($colores, 2);
				@include whSize (100%, 2px);
				@extend %linkAfter;
			}
			&:hover {
				font-weight: bold;
				&:after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
		h3 {
			font-size: x-large;
			color: nth($colores, 2);
		}
		p {
			@include text (20px, left, 20px, 30px, italic);
		}
	}
}
.supportData2 {
	@include flex (flex, center, center);
	flex-wrap: wrap;
	flex-direction: row;
	background-color: nth($colores, 6);
	div {
		img {
			@include whSize (450px, 250px);
			// margin-top: 100px;
			margin-bottom: 20px;
			border-radius: 25px;
			box-shadow: 5px 5px 10px #a3abe444;
			transition: transform .75s;
			&:hover{
				transform: scale(1.1);
			}
		}
		@include text (0px, right, 50px, 110px, none);
		@include whSize (500px, auto);
		h2 {
			@include text (45px, right, 30px, 20px, none);
			color: nth($colores, 2);
		}
		a {
			color: nth($colores, 2);
			@extend %link;
			&:after {
				background-color: nth($colores, 2);
				@include whSize (100%, 2px);
				@extend %linkAfter;
			}
			&:hover {
				font-weight: bold;
				&:after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
		h3 {
			font-size: x-large;
			color: nth($colores, 2);
		}
		p {
			@include text (20px, right, 20px, 30px, italic);
		}
	}
}
.supportData3 {
	@include flex (flex, center, center);
	flex-wrap: wrap;
	flex-direction: row-reverse;
	background-color: nth($colores, 6);
	div {
		img {
			@include whSize (450px, 250px);
			// margin-top: 85px;
			border-radius: 25px;
			box-shadow: 5px 5px 10px #a3abe444;
			transition: transform .75s;
			&:hover{
				transform: scale(1.1);
			}
		}
		@include text (0px, left, 50px, 100px, none);
		@include whSize (500px, auto);
		h2 {
			@include text (45px, left, 30px, 20px, none);
			color: nth($colores, 2);
		}
		a {
			color: nth($colores, 2);
			@extend %link;
			&:after {
				background-color: nth($colores, 2);
				@include whSize (100%, 2px);
				@extend %linkAfter;
			}
			&:hover {
				font-weight: bold;
				&:after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
		h3 {
			font-size: x-large;
			color: nth($colores, 2);
		}
		p {
			@include text (20px, left, 20px, 30px, italic);
		}
	}
}